.m-5px{
    margin:5px;
}
.btn-danger{
    width: 75px;
}
.equl{
    width: 101px;
}
.resultbox{ 
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    // margin-left: 40px;
    background-color: #546a45;
    color: white;
    height: 35px;
    font-weight: bold;
    border-radius: 10px;
    
}
.setbutton{
    color: beige;
    margin: 100px;
    height: 50px;
    // padding: 25px 10px;
    text-align: center;
}
.container{
    margin: 150px 50px;
    background-color: black;
    height: 310px;
    padding: 15px 10px;
    border-radius: 20px;
    text-align: center;
}

