.logos-images {
  height: 200px;
  width: 200px;
}
.experience {
  background-image: linear-gradient(to right, #fd8639, #fd2327);
}
.c-bg-secondary {
  background-color: whitesmoke;
}
.c-bg-secondary-orange {
  background-color: #2673ac;
}
