<!-- Calculator task start -->
<!-- <app-calculator></app-calculator> -->
<!-- Calculator task end -->

<!-- Header start -->
<app-header></app-header>
<!-- Header end -->

<app-cover-photo></app-cover-photo>
<div class="c-app-card-header pt-5" *ngIf="true">
    <app-card-header></app-card-header>
</div>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let item of items">
                <app-cards [title]="item.title"></app-cards>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<hr class="m-auto w-25"><br><br>

<div class="button text-center">
    <app-button></app-button>
</div>
<!-- <app-card-header></app-card-header> -->
<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="experience mt-2 text-white">
    <div class="row m-0 pt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 d-flex text-center w-75">
            <app-expirience-heading></app-expirience-heading>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row m-0">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 d-flex justify-content-center flex-wrap">
            <app-expirience></app-expirience>
            <app-expirience></app-expirience>
            <app-expirience></app-expirience>
            <app-expirience></app-expirience>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<div class="row m-0 mt-5">
    <div class="col-sm-5">
        <app-clutch></app-clutch>
    </div>
    <div class="col-sm-7 c-bg-secondary d-flex  flex-wrap justify-content-center p-2">
        <app-review-cards></app-review-cards>
        <app-review-cards></app-review-cards>
        <app-review-cards></app-review-cards>
        <app-review-cards></app-review-cards>
        <app-review-cards></app-review-cards>
        <app-review-cards></app-review-cards>
    </div>
</div>
<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
            <div class="m-3">
                <app-technologies></app-technologies>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row m-0 c-bg-secondary-orange">
    <div class="col-sm-4">
        <app-slide-text></app-slide-text>
    </div>
    <div class="col-sm-8">
        <app-slide></app-slide>
    </div>
</div>
<div class="experience">
    <app-grow></app-grow>
</div>
<div class="row m-0 mt-5 p-5">
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <app-quoteimage></app-quoteimage>
    </div>
    <div class="col-sm-6 p-4 shadow p-3 mb-5 bg-white rounded">
        <app-quote></app-quote>
    </div>
</div>

<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 d-flex justify-content-center flex-wrap">
        <app-blogs></app-blogs>
        <app-blogs></app-blogs>
        <app-blogs></app-blogs>
        <app-blogs></app-blogs>
    </div>
    <div class="col-sm-1"></div>
</div>

<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row m-0 bg-info">
            <div class="col-sm-6 d-flex align-items-center">
                <app-formtext></app-formtext>
            </div>
            <div class="col-sm-6">
                <app-card-header></app-card-header>
                <app-form></app-form>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<router-outlet></router-outlet>