.logos-images {
  height: 200px;
  width: 200px;
}
.experience {
  background-image: linear-gradient(to right, #fd8639, #fd2327);
}
.c-bg-secondary {
  background-color: whitesmoke;
}
.c-bg-secondary-orange {
  background-color: #2673ac;
}
.custom-font{
  font-size: 40px;
  font-weight: 600;
  color: #fd8639;
}
.text-orange{
  color: #fd8639;
}