<!-- Calculator task start -->
<!-- <app-calculator></app-calculator> -->
<!-- Calculator task end -->

<!-- Task 2 - Tagline Website start -->
<!-- Header start
<app-header></app-header>
Header end

cover photo start
<app-cover-photo></app-cover-photo>
cover photo end

Description cards section start
<div class="pt-5" *ngIf="true">

    <p class="text-center text-orange"> Our Services</p>
    <app-card-header></app-card-header>
</div>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let item of items">
                <app-cards [photo]="item.photo" [title]="item.title" [text]="item.text" [button]="item.button">
                </app-cards>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
Description cards section end

<hr class="m-auto w-25"><br><br>

common button for every start
<div class="button text-center">
    <app-button class="c-btn-orange" [button]="button"></app-button>
</div>
common button for every end

technologies photo section start
<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tech of technologies">
                <app-technologies [photo]="tech.photo"></app-technologies>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
technologies photo section End

Experience section start
<div class="experience mt-2 text-white">
    <div class="row m-0 pt-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 d-flex text-center w-75">
            <app-expirience-heading></app-expirience-heading>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row m-0">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 d-flex justify-content-center flex-wrap">
            <div *ngFor="let emps of emp">
                <app-expirience [employee]="emps.employee" [degree]="emps.degree"></app-expirience>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
Experience section end

App review(quotes) section start
<div class="row m-0 mt-5">
    <div class="col-sm-5">
        <app-clutch></app-clutch>
    </div>
    <div class="col-sm-7 c-bg-secondary d-flex  flex-wrap justify-content-center p-2">
        <div *ngFor="let quote of quotes">
            <app-review-cards [reviewText]="quote.reviewText" [reviewWriter]="quote.reviewWriter"></app-review-cards>
        </div>
    </div>
</div>
App review(quotes) section end

Another technologies photos section start
<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let client of clients">
                <app-technologies [photo]="client.photo"></app-technologies>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
Another technologies photos section end

Grow section start
<div class="row m-0 c-bg-secondary-orange">
    <div class="col-sm-4">
        <app-slide-text></app-slide-text>
    </div>
    <div class="col-sm-8">
        <app-slide></app-slide>
    </div>
</div>
<div class="experience">
    <app-grow></app-grow>
</div>
<div class="row m-0 mt-5 p-5">
    <p *ngIf="trueOrFalse" class="custom-font text-center">{{clientSay}}</p>
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <app-quoteimage></app-quoteimage>
    </div>
    <div class="col-sm-6 p-4">
        <div class=" shadow p-3 mb-5 bg-white rounded">
            <app-quote></app-quote>
        </div>
    </div>
</div>
Grow section end

Blogs section starts
<app-tech-header></app-tech-header>
<div class="row m-0">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 d-flex justify-content-center flex-wrap">
        <div *ngFor="let blog of blogs">
            <app-blogs [photo]="blog.photo" [title]="blog.title" [text]="blog.text" [footer]="blog.footer"></app-blogs>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
Blogs section end

Task 2 - Tagline Website end -->



<!-- Task 3 Lifecycle hooks start -->

<!-- <app-parent-lifecycle></app-parent-lifecycle> -->
<app-parent-life></app-parent-life>

<!-- Task 3 Lifecycle hooks end -->

<router-outlet></router-outlet>